{% extends "Layout.html" %}

{% block content %}

    <h1>FAQ
    </h1>
    <br>
    <h3>Applying to UON</h3>
    <p>
        <li>How do I apply for a postgraduate program?</li>
        <li>Does my ATAR expire and how do I find it?</li>
        <li>How do I change into a different program of study?</li>
    </p>
    <h3>Starting at UON</h3>
    <p>
        <li>What discounted short courses does the University of Newcastle offer?</li>
        <li>What are Census dates and when are they?</li>
        <li>What is the difference between 1000, 2000, and 3000 level courses?</li>
    </p>
    <h3>Student Essentials</h3>
    <p>
        <li>How do I apply for a Leave of Absence?</li>
        <li>I need help with program (degree), where can I go?</li>
        <li>What happens if I miss an exam?</li>
    </p>
    <h3>Student Services and Support</h3>
    <p>
        <li>How do I access my NUmail (student email) account?</li>
        <li>Is there free software I can access as a student?</li>
        <li>How do I access myUON (including Blackboard)?</li>
    </p>
    <h3>Uni Life</h3>
    <p>
        <li>When are the University holidays?</li>
        <li>What are the key university dates?</li>
        <li>Where can I purchase University merchandise?</li>
    </p>
    <h3>Graduates and Alumni</h3>
    <p>
        <li>How do I obtain an Official Academic Transcript?</li>
        <li>What are the graduation ceremony dates?</li>
        <li>How do I know when I will graduate?</li>
    </p>
    
{% endblock content %}