{% extends "Layout.html" %}

{% block content %}

    <h1>Study Essentials</h1>
    <br>
    <h3>Your First Day</h3>
    <br>
    <h5><i>O Week</i></h5>
    
    <p>
        O Week is a great way to get involved in activities with your 
        soon-to-be fellow cohort. It is generally held the week before the 
        Uni Semester starts or Week 1, hence the name "O week". You can 
        check out all the student clubs so that you can meet people with 
        similar interests. 
    </p>
    <p>
        Orientation also involves attending your program session, where you will 
        receive information about how your degree is structured, some things to 
        expect from it, as well as some tips on how to successfully nail Uni! 
        You will also be able to pick up your student card, which grants you 
        access to the library, your library account, many other Uni services 
        our required identification when sitting for your exams.
    </p>
    
    <h5><i>What a typical semester looks like</i></h5>
    <p>
    - what to expect in the first few weeks
    <br>
    - second hand textbooks
    </p>

    <h5><i>Your Degree</i></h5>
    <p>
    - where to get program advice, changing your Degree
    <br>
    - information about staff available to contact, including conveners of each degree
    </p>
    
    <h5><i>Exam Advice</i></h5>
    <p>
       <ul>
           <li>study tips</li>
           <li>early preparation</li>
           <li>exam day information</li>
           <li>exam timetables</li>
       </ul> 
    </p>
    
    

{% endblock content %}