{% extends "Layout.html" %}

{% block content %}

    <h1>Campus Services</h1>
    <br>
    <h2>Campus Map</h2>
    <br>
    <img class = "zoom" src="../static/profile_pics/OurimbahMap.jpg" alt="Map Of Ourimbah Campus" 
    style="float:right;width:auto;height:400px; padding:5%;">
    

    <p style="text-align: left;">
    <b>Your Safety On Campus:</b>
    <ul>
        <li><i>Night Security Shuttle Information</i></li>
        This service is available on all campuses and can be arranged for pickup
        by calling 4921 5888. It can be used to get between buildings and vehicles
        or to the Railway Station on request. 

        <li><i>Safe Walk Service</i></li>
        Call 4921 5888 or email security-services@newcastle.edu.au
        The service provided will escort you from building to building
        or building to vehicle and vice versa, within the boudnaries of the campus.
        
        <li><i>Smart Paths</i></li>
        For when travelling campus alone, there are certain paths that are very well lit with
        enhanced lighting, CCTV surveillance, extra wide paths and reduced surrounding vegetation.

        <li><i>Emergency Contact Information</i></li>
        It is important to call '000' in the event of an emergency.
    </ul>
    </p>

    <p>
       <b>School and Faculty Directory</b> 
       <ul>
           <li>Where to find staff on campus</li>
           <li>How to get in contact with staff - emails and phone numbers</li>
           <li>Who can I ask for help?</li>
           <li>Student Hub</li>
       </ul>
    </p>

{% endblock content %}